:root {
  --layout-color:#ffe4b8;
  --background-color:#f6f5f5;
  --green-color: #1abc9c;
  --dark-green-color: #16a085;
  --red-color: #e74c3c;
  --dark-red-color: #c0392b;
  --gray-color: #95a5a6;
  --dark-gray-color: #7f8c8d;
}